.poster {
    width: 100%;
    display: flex;
    justify-content: center;
}

.poster > img {
    width: 200px;
}

.card {
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
    height: calc(100vh / 1.64);
    background-color: rgb(39, 39, 39); 
  }
  
  .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: aliceblue;
    margin-top: 1rem;
  }

  .title {
    color: aliceblue;
  }

  .buttons {
      display: flex;
      justify-content: center;
  }

  .movie-container {
      cursor: pointer;
      width: 100%;
  }

  .score {
    display: flex;
    justify-content: center;
  }